# Docker build context ignore rules
# We intentionally DO NOT ignore `.git/` here.

# Dependencies
**/node_modules/

# Test output
**/coverage/

# Build output
**/dist/
**/build/
**/*.tsbuildinfo

# Tooling caches
**/.cache/

# VS Code settings
**/.vscode/

# Logs
**/*.log
**/npm-debug.log*
**/yarn-debug.log*
**/pnpm-debug.log*

# Other assets not needed for builds
.devcontainer
.github
docs
reflector
screenshots
tmp
jest
**/tmp/
**/*.tgz
