# .gitignore 1.0.2

# This file specifies intentionally untracked directories and files that Git should ignore.

# Specific directories that should be ignored
.cache/
build/
coverage/
dist/
node_modules/
out/
temp/

# Specific files that should be ignored
*.backup
*.heapsnapshot
*.heapprofile
*.tsbuildinfo
*.tgz
*.log
.env
.env.*
!.env.example

# Package specific directories and files that should be ignored (mb-run --upgrade merges the .localignore .gitlocalignore files from packages)

chip/
heap_profile
heap_profiles
heap_snapshots
TODO.md

# Allow dist folders inside vendor/
!vendor/**/dist/
!vendor/**/dist/**
!*chipTestsSummary.log
