# .gitignore
# This file specifies intentionally untracked directories and files that Git should ignore.

# Specific directories that should be ignored
.vscode/
coverage/
dist/
jest/
node_modules/
temp/

# Specific files that should be ignored
*.backup
*.heapsnapshot
*.heapprofile
*.tsbuildinfo
*.tgz
*.log

# Package specific directories and files that should be ignored
heap_profile
TODO.md
crypto
docs/Matter specifications/
STYLEGUIDE.md
workers/
matter.ts
