# .npmignore
# This file specifies directories and files that should be ignored when publishing the package to npm.

# Specific directories that should be ignored
.devcontainer/
.git/
.github/
.vscode/
coverage/
jest/
mock/
node_modules/
public/
screenshot/
scripts/
src/
temp/
test/
vitest/

# Specific files that should be ignored
.eslintcache
.prettiercache
.gitattributes
.gitignore
.npmignore
.prettierignore
CODEOWNERS
eslint.config.*
install-matterbridge-dev.sh
install-matterbridge-main.sh
jest.config.*
nodemon.json
prettier.config.*
TODO.md
tsconfig.*
vite.config.*
*.backup
*.heapsnapshot
*.heapprofile
*.tsbuildinfo
*.tgz
*.log

# Package specific directories and files that should be ignored
chip
docker
docs
reflector
systemd
heap_profile
heap_profiles
heap_snapshots
crypto
workers
STYLEGUIDE.md

# Allow dist folders inside vendor/
!vendor/**/dist/
!vendor/**/dist/**
