[Unit]
Description=matterbridge
After=network.target

[Service]
Type=notify
ExecStart=/usr/bin/matterbridge
WorkingDirectory=/home/pi/Matterbridge
StandardOutput=inherit
StandardError=inherit
WatchdogSec=10s
Restart=always
RestartSec=10s
TimeoutStopSec=30s
User=pi

[Install]
WantedBy=multi-user.target