[ req ]
default_bits       = 2048
prompt             = no
default_md         = sha256
req_extensions     = req_ext
distinguished_name = dn

[ dn ]
C = US
ST = New York
L = Rochester
O = My Company Name
OU = Development
CN = laptop5_luca

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = laptop5_luca
DNS.2 = laptop5_luca.local
