/* App.css */

body {
  font-family: 'Roboto', sans-serif;
}

/* Define the style for the body element */

/* Classic Mode */
[frontend-theme="classic"] {
  --main-bg-color: #c4c2c2;
  --main-text-color: black;
  --main-grey-color: #616161;
  --main-light-color: #959595;
  --main-icon-color: #4d4d4d;
  --main-log-color: var(--main-text-color);
  --main-button-color: #ffffff;
  --main-button-bg-color: var(--primary-color);
  --main-menu-color: #26292d;
  --main-menu-bg-color: #e2e2e2;
  --main-menu-hover-color: #959595;
  --main-label-color: var(--main-grey-color);

  --primary-color: #009a00;
  --secondary-color: #92771f;

  --header-bg-color: var(--primary-color);
  --header-text-color: white;

  --footer-bg-color: var(--div-bg-color);
  --footer-text-color: var(--div-text-color);

  --ttip-bg-color: #555;
  --ttip-text-color: #fff;

  --table-border-color: #ddd;
  --table-text-color: black;
  --table-even-bg-color: #bdbdbd;
  --table-odd-bg-color: var(--div-bg-color);
  --table-hover-bg-color: #5f8c9e;
  --table-selected-bg-color: #5f8c9e;

  --div-bg-color: #adadad;
  --div-text-color: black;
  --div-shadow-color: #888;
  --div-border-color: rgb(139, 139, 139);
  --div-border-radius: 0px;
  --div-title-bg-color: var(--div-bg-color);
  --div-title-text-color: black;

  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

/* Dark Mode */
[frontend-theme="dark"] {
  --main-bg-color: #26292d;
  --main-text-color: #ffffff;
  --main-grey-color: #616161;
  --main-light-color: #959595;
  --main-icon-color: var(--main-light-color);
  --main-log-color: var(--main-light-color);
  --main-button-color: #ffffff;
  --main-button-bg-color: var(--primary-color);
  --main-menu-color: var(--main-light-color);
  --main-menu-bg-color: var(--main-bg-color);
  --main-menu-hover-color: var(--div-bg-color);
  --main-label-color: var(--main-grey-color);

  --primary-color: #1976d2;
  --secondary-color: #a58827;

  --header-bg-color: var(--div-bg-color);
  --header-text-color: var(--primary-color);

  --footer-bg-color: var(--div-bg-color);
  --footer-text-color: var(--div-text-color);

  --ttip-bg-color: #555;
  --ttip-text-color: #fff;

  --table-border-color: var(--div-bg-color);
  --table-text-color: var(--main-light-color);
  --table-even-bg-color: var(--div-bg-color);
  --table-odd-bg-color: var(--div-bg-color);
  --table-hover-bg-color: var(--main-bg-color);
  --table-selected-bg-color: var(--main-bg-color);

  --div-bg-color: #1b1d21;
  --div-text-color: var(--main-light-color);
  --div-shadow-color: #34373d;
  --div-border-color: #1b1d21;
  --div-border-radius: 5px;
  --div-title-bg-color: #1b1d21;
  --div-title-text-color: var(--primary-color);

  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

/* Light Mode */
[frontend-theme="light"] {
  --main-bg-color: #f0f0f0;
  --main-text-color: #212121;
  --main-grey-color: #616161;
  --main-light-color: #363636;
  --main-icon-color: #7a7a7a;
  --main-log-color: var(--main-light-color);
  --main-button-color: #ffffff;
  --main-button-bg-color: var(--primary-color);
  --main-menu-color: var(--main-text-color);
  --main-menu-bg-color: var(--div-bg-color);
  --main-menu-hover-color: #85c0d8;
  --main-label-color: var(--main-grey-color);

  --primary-color: #2196f3;
  --secondary-color: #a58827;

  --header-bg-color: var(--div-bg-color);
  --header-text-color: var(--div-text-color);

  --footer-bg-color: var(--div-bg-color);
  --footer-text-color: var(--div-text-color);

  --ttip-bg-color: #555;
  --ttip-text-color: #fff;

  --table-border-color: var(--div-bg-color);
  --table-text-color: var(--main-light-color);
  --table-even-bg-color: var(--div-bg-color);
  --table-odd-bg-color: var(--div-bg-color);
  --table-hover-bg-color: #85c0d8;
  --table-selected-bg-color: #85c0d8;

  --div-bg-color: #ffffff;
  --div-text-color: #212121;
  --div-shadow-color: #bfbfbf;
  --div-border-color: var(--div-bg-color);
  --div-border-radius: 5px;
  --div-title-bg-color: var(--div-bg-color);
  --div-title-text-color: var(--div-text-color);

  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

/* For modern browsers */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: 'inherit';
}

/* For Firefox (it uses scrollbar-color and scrollbar-width) */
html {
  scrollbar-color: var(--primary-color) var(--div-bg-color);
  /* thumb color, track color */
  scrollbar-width: thin;
}

.thin-scroll {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) var(--div-bg-color);
}

.thin-scroll::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.thin-scroll::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 5px;
}

/* Tooltip styles */
.tooltip-container {
  position: relative;
  display: inline-block;
  z-index: 10;
}

.tooltip-text {
  visibility: hidden;
  background-color: var(--ttip-bg-color);
  color: var(--ttip-text-color);
  text-align: center;
  padding: 5px 5px;
  border-radius: 6px;

  position: absolute;
  z-index: 10;
  bottom: calc(100% + 10px);
  left: 50%;
  margin-left: -60px;

  opacity: 0;
  transition: opacity 0.3s;
  font-size: 12px;
}

.tooltip-container:hover {
  cursor: pointer;
  z-index: 10;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
  z-index: 10;
}

/* StatusIndicator styles */
.status-enabled {
  background-color: green;
  color: white;
  padding: 0.2rem;
  border-radius: 0.25rem;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.status-disabled {
  background-color: red;
  color: white;
  padding: 0.2rem;
  border-radius: 0.25rem;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.status-information {
  background-color: #9e9e9e;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 2px;
  padding-top: 2px;
  border-radius: 0.25rem;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.status-warning {
  background-color: #e9db18;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 2px;
  padding-top: 2px;
  border-radius: 0.25rem;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.status-sponsor {
  background-color: #b6409c;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 2px;
  padding-top: 2px;
  border-radius: 0.25rem;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.status-blue {
  background-color: #5f8c9e;
  color: white;
  padding: 0.2rem;
  border-radius: 0.25rem;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

/* Header styles */
.header {
  display: flex;
  /*flex-wrap: 'wrap';*/
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin: 0;
  padding: 0;
  height: 40px;
}

.sub-header {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin: 0;
  padding: 0;
  height: 40px;
}

/* Navigation style */
nav {
  display: flex;
  align-items: center;
}

/* Navigation in Header.js style */
.nav-link {
  margin: 0 10px;
  font-size: 20px;
  text-decoration: none;
  color: var(--main-icon-color);
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: var(--primary-color);
}

/* Table styles */
table {
  border-collapse: collapse;
  width: 100%;
  table-layout: auto;
}

thead {
  position: sticky;
  top: 0;
  border: 1px solid var(--table-border-color);
  z-index: 10;
}

thead th {
  border: 1px solid var(--table-border-color);
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  color: var(--header-text-color);
  background: var(--header-bg-color);
  text-align: left;
  z-index: 10;
}

tbody td {
  border: 1px solid var(--table-border-color);
  margin: 0;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: left;
  font-size: 14px;
}

tbody tr:hover {
  color: var(--table-text-color);
  background-color: var(--table-hover-bg-color);
}

.table-content-even {
  color: var(--table-text-color);
  background-color: var(--table-even-bg-color);
}

.table-content-odd {
  color: var(--table-text-color);
  background-color: var(--table-odd-bg-color);
}

.table-content-selected {
  color: var(--table-text-color);
  background-color: var(--table-selected-bg-color);
}

h3 {
  margin: 0;
}

/* Main screen style */
.MbfScreen {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 40px);
  height: calc(100vh - 40px);
  gap: 20px;
  margin: 0;
  padding: 20px;
  background-color: var(--main-bg-color);
}

/* Define the style for the main page element */
.MbfPageDiv {
  display: flex;
  flex-direction: column;
  height: calc(100% - 60px);
  width: 100%;
  margin: 0px;
  padding: 0px;
  gap: 20px;
}

/* Define the style for the main div element  */
.MbfWindowDiv {
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 10px var(--div-shadow-color);
  border: 1px solid var(--table-border-color);
  border-radius: var(--div-border-radius);
  box-sizing: border-box;
  background-color: var(--div-bg-color);
}

/* Define the style for the main div element */
.MbfWindowDivTable {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin: -1px;
  padding: 0;
  gap: 0;
  overflow: auto;
  display: block;
}

/* Define the style for an header footer div element with icons */
.MbfWindowHeaderFooterIcons {
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0px 10px;
  gap: 10px;
}

/* Define the style for the header element */
.MbfWindowHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--table-border-color);
  color: var(--header-text-color);
  background-color: var(--header-bg-color);
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Define the style for the header text element */
.MbfWindowHeaderText {
  color: var(--header-text-color);
  font-weight: bold;
  margin: 0px;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

/* Define the style for the footer element */
.MbfWindowFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--footer-text-color);
  background-color: var(--footer-bg-color);
  margin: 0px;
  padding: 0px;
}

/* Define the style for the footer text element */
.MbfWindowFooterText {
  color: var(--footer-text-color);
  background-color: var(--footer-bg-color);
  font-weight: bold;
  text-align: center;
  margin: 0px;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

/* Define the style for the body element */
.MbfWindowBody {
  display: flex;
  flex: 1 1 auto;
  margin: 0px;
  padding: 10px;
  gap: 10px;
}

/* Define the style for the body element */
.MbfWindowBodyColumn {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
  margin: 0px;
  padding: 10px 0px 10px 0px;
  gap: 0px;
  overflow: auto;
}

/* Define the style for the body element */
.MbfWindowBodyRow {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  height: 100%;
  margin: 0px;
  padding: 0px 10px 0px 10px;
  gap: 0px;
  overflow: auto;
}

/* Define the style for the config submit button */
.configSubmitButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
  margin: 20px;
}

.configSubmitButton button {
  width: auto;
}

/* Styles for mobile screens iPad Pro landscape 1366 x 1024 */
@media (max-width: 1300px) {
  .MbfScreen {
    width: 1300px;
    height: 1024px;
  }

  .xxxheader {
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }

  .xxxsub-header {
    align-items: start;
    justify-content: start;
  }
}