/* App.css */

/* Navigation in Header.js style */
.nav-link {
  margin: 0 10px;
  font-size: 20px;
}

/* Table header style */
.table-header {
  height: 30px;
  padding: 0px;
  padding-right: 10px;
  padding-left: 10px;
}

/* Table style */
table {
  border-collapse: collapse;
  width: 100%;
  box-shadow: 5px 5px 10px #888; 
}

th, td {
  border: 1px solid #ddd;
  padding: 5px;
  text-align: left;
}

th {
  background-color: #4CAF50;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}