name: Node.js CI

on:
  push:
    branches: [main, dev]
    paths-ignore:
      - 'docs/**' # any file under docs/
      - 'screenshot/**' # any file under screenshot/
      - '**/*.md' # any .md anywhere
  pull_request:
    branches: [main, dev]
    paths-ignore:
      - 'docs/**' # any file under docs/
      - 'screenshot/**' # any file under screenshot/
      - '**/*.md' # any .md anywhere
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        node-version: [20.x, 22.x, 24.x]
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Clean cache
        run: npm cache clean --force

      - name: Verify Node.js version
        run: node -v

      - name: Verify Npm version
        run: npm -v

      - name: Install dependencies
        run: npm ci

      - name: Check Matter versions
        run: npm ls @matter/main @matter/protocol

      - name: Build the project
        run: npm run build

      - name: Install matterbridge
        run: npm install -g .

      - name: Test matterbridge cli
        run: matterbridge -loginterfaces

      - name: Lint the project
        run: npm run lint

      - name: Test the project
        run: npm run test
