name: Build Docker Image dev with buildx

on:
  # Use in other repository workflows with:
  # - name: Trigger Matterbridge Docker Build Dev
  #   uses: actions/github-script@v7
  #   with:
  #     github-token: ${{ secrets.TRIGGER_TOKEN }}
  #     script: |
  #       await github.rest.actions.createWorkflowDispatch({
  #         owner: 'Luligu',
  #         repo: 'matterbridge',
  #         workflow_id: 'docker-buildx-dev.yml',
  #         ref: 'dev'
  #       })

  # Allow manual dispatch and trigger from other workflows
  workflow_dispatch:

# Cancel previous runs when a new one is triggered
concurrency:
  group: docker-build-dev
  cancel-in-progress: true

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code to dev branch
        uses: actions/checkout@v4
        with:
          ref: dev

      - name: Set up Node.js & registry
        uses: actions/setup-node@v4
        with:
          node-version: '22.x'
          registry-url: 'https://registry.npmjs.org'

      - name: Stamp build metadata into package.json
        run: |
          npm pkg set build.sha="${GITHUB_SHA}"
          npm pkg set build.event="${GITHUB_EVENT_NAME}"
          npm pkg set build.workflow="${GITHUB_WORKFLOW}"
          npm pkg set build.action="${GITHUB_ACTION}"
          npm pkg set build.type="${GITHUB_REF_TYPE}"
          npm pkg set build.name="${GITHUB_REF_NAME}"
          npm pkg set build.docker="true"

      - name: Extract base version, date and commit
        id: vars
        run: |
          BASE=$(jq -r '.version' package.json)
          DATE=$(date -u +'%Y%m%d')
          SHA=${GITHUB_SHA::7}
          DEV_TAG="${BASE}-dev-${DATE}-${SHA}"
          echo "DEV_TAG=$DEV_TAG" >> $GITHUB_ENV
          echo "ORIG_SHA=$SHA"    >> $GITHUB_ENV

      - name: Bump to date-commit-stamped version --no-git-tag-version tag ${{ env.DEV_TAG }} sha ${{ env.ORIG_SHA }}
        run: npm version "${{ env.DEV_TAG }}" --no-git-tag-version

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: all

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          version: latest

      - name: Run Docker Buildx on dev
        run: |
          docker buildx build \
            --platform linux/amd64,linux/arm64,linux/arm/v7 \
            -f docker/Dockerfile.dev \
            -t luligu/matterbridge:dev \
            --push .
        timeout-minutes: 60

      - name: Inspect pushed manifest
        run: docker manifest inspect luligu/matterbridge:dev
